.main-container{
    background-color:#6B51E8;
    height: 561px;
    width: 420px;
    margin: auto;
    border-radius: 10px;
    padding: 0px;
}
.initial-space{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    height: 400px;
    background-image: url(./assets/images/rain-animation.gif);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
    position: absolute;
    bottom:0px;
    top:47px;
    width: 420px;
    transform-origin: 0% 100%;
}
.error-container{
   text-align: center;
   color: white;
   font-style: italic;
   height: 390px;
   width: 420px;
}
.error404{
    height: 300px;
    width: 380px;
    margin: auto;
    background-repeat: no-repeat;
    background-image: cover;
    background-position: center;
    background-image: url(./assets/images/404.svg);
}
.active-out{
    animation-name: showWeather;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.boxOut{
    animation-name: boxOut;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes showWeather {
    0% {width: 420px}
    80%{width: 50px;}
    100%{transform: scaleX(0);}
}
@keyframes boxOut {
    0% {transform: scaleX(0);}
    100%{transform: scaleX(1);}
}
.temperature-box{
    color: rgb(255, 255, 255);
    font-weight:500;
    border-radius: 20px;
    background-color: #5182e8;
    text-align: center;
    margin: auto;
    height: 250px;
    width: 300px;
    padding-top: 30px;
}
.temperature-box p{
    margin: 0px;
}
.temp-text{
    font-size: 80px;
    color: #F2F2F2;
}
.main-container-active{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 400px;
    width: 100%;
    margin: 0px;
    padding: 0;
}
.icons-container{
    background-color: #5182e8;
    height: 95.5px;
    margin: auto;
    border-radius: 15px;
    width: 400px;
    padding-right: 0px;
    padding-left: 75px;
    padding-top: 30px;
}
.current-icons{
    display: inline-block;
    margin-right: 20px;
    color: #F2F2F2;
}
.yellow{
    background-image: linear-gradient(to bottom, #fdd01d 10%, #cee851);
}
.blue{
    background-color: rgba(95, 223, 255, 0.8);
}
.weather-icons{
    height: 30px;
    margin-right: 8px;
}
.col{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
    background-color: yellow;
    height: 50px;
}
.weather-input{
    border-radius: 10px;
    background-color: #F2F2F2;
    height: 50px;
    width: 230px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    border: none;
    outline: white 5px auto;

}
.search-container{
    position: absolute;
    background-color:#6B51E8;
    height: 162.5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 420px;
    top: 447px;
    padding-top: 5px;
}
.search-button{
    outline: #5182e8 5px auto;
	border: none;
    background-color: #5182e8;
    border-radius: 50px;
    border-style: solid;
    height: 50px;
    width: 250px;
    margin: auto;
}
#button {
    margin: auto;
    outline:none;
    height: 55px;
    text-align: center;
    width: 140px;
    border-radius:40px;
    background: #fff;
    border: 2px solid #5182e8;
    color: #5182e8;
    letter-spacing:1px;
    text-shadow:0;
    font-size:16px;
    font-weight:bold;
    cursor: pointer;
    transition: all 0.25s ease;
}
#button:hover {
      color:white;
      background: #5182e8;
    }
#button:active {
      letter-spacing: 2px;
      letter-spacing: 2px;
    }